@import "../global_vars";

.gallery-container{
    * {
        box-sizing: border-box;
    }

    .img-row {
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            max-width: 100%;
        }
    }

}

