@import "../global_vars";


.right-arrow-button {
    height: 40px;
    width: 40px;
    cursor: pointer;

    position: absolute;
    top: 30px;
    left: 30px;
}

.right-page {
    padding-top: 6vh;
    padding-bottom: 6vh;
    background: linear-gradient(to right, #16222a, #3a6073);
}