@import "../global_vars";


.right-arrow-button {
    height: 40px;
    width: 40px;
    cursor: pointer;

    position: absolute;
    top: 30px;
    left: 30px;
}

.right-page {
    padding-top: 5rem;
    background-color: $bg-gray;
}