@import "../global_vars";


.right-arrow-button {
    height: 40px;
    width: 40px;
    cursor: pointer;

    position: absolute;
    top: 30px;
    left: 30px;
}

.right-page {
    padding-top: 6vh;
    padding-bottom: 6vh;
    // background: linear-gradient(to right, #16222a, #3a6073);
    $stripe_color: #293d57;
    background: #21242c;
    // background: repeating-linear-gradient(
    //     -55deg,
    //     $bg_dark,
    //     $bg_dark 40px,
    //     $stripe_color 40px,
    //     $stripe_color 42px
    // );
}