@import "global_vars";

.App {
  // text-align: center;
  font-family: $font;
  position: relative;
  height: 0;

  ::selection {
    background-color: $dark;
    color: $white;
  }

  .nav {
    z-index: 1000;
  }

  .heading {
    user-select: none;
  }
}
