@import "global_vars";

.App {
  // text-align: center;
  font-family: $font;
  position: relative;
  height: 0;

  ::selection {
    background-color: #8effe3;
    color: #111;
  }

  .nav {
    z-index: 1000;
  }

  .heading {
    user-select: none;
  }

    .main-page {
      // background: #43506c;
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    }

    .intro-section {
      background: linear-gradient(to right, #0f2027, #203a43, #2c5364);;
    }

    .department-section {
      background: #232425;
    }

    .gzh-section {
      background: #ffffff;
    }
}
