$black: #050505;
$white:#f3f3f3;
$bg_yellow: #fdf4dc;
$bg_gray: #E9E5E6;
$bg_azure: #a6ecf0;
$bg_aqua: #205d5f;

$ada_blue: #47a3da;
$ada_lightblue: #D9F8FF;
$ada_grey: #C9C9C9;

$font: "Poppins", sans-serif;