@import "../global_vars";

.heading-container {
  .heading {
    font-size: 3vw;
    margin-bottom: 0.8rem;
  }

  .heading-line {
    width: 10rem;
    height: 2px;
    background-color: $black;
  }

  @media (max-width: 700px) {
    .heading {
      font-size: 6vw;
    } 
  }
}

.paragraph {
  font-size: 1vw;
}
