@import "../global_vars";

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.heading-container {
  .heading {
    font-size: 3.5rem;
    margin-bottom: 0.8rem;
  }

  .heading-line {
    width: 10rem;
    height: 2px;
    background-color: $black;
  }
}
