@import "../global_vars";

.main-footer{
  color: $white;
  background-color: $bg_dark;
  position: relative;

  a{
    color: $white;
  }

  padding-bottom: 3em;
  padding-top: 3em;

  .contact-list li {
    margin-bottom: .8rem;
  }
  .icon {
    height: 32px;
    width: 32px;
    margin-right: .5rem;
  }

  svg path {
    fill: $white;
  }

  .copy-right {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: .8rem;
    font-size: .8rem;

    .developers {
      display: none;
    }

    &:hover {
      .developers {
        display: block;
      }
    }
  }
}