@import "../global_vars";

.main-footer{
  color: $white;
  background-color: $bg_dark;

  a{
    color: $white;
  }

  padding-bottom: 3em;
  padding-top: 3em;

  .contact-list li {
    margin-bottom: .8rem;
  }
  .icon {
    height: 32px;
    width: 32px;
    margin-right: .5rem;
  }

  svg path {
    fill: $white;
  }
}