@import "../global_vars";

.intro-section {
    // background-color: $bg_dark;
    background-image: linear-gradient(to bottom, transparent, #000);
    color: $white;
}

.intro-container {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .logo-container {
        

        display: flex;
        justify-content: center;
        align-items: center;
        
        

        img {
            object-position: center;
            width: 220px;
            height: auto;
            // height: 200px;
        }
    }
}