@import "../global_vars";

.main-arrow-button {
    height: 40px;
    width: 40px;
    cursor: pointer;

    position: fixed;
    top: 30px;
    &.main-arrow-right {
        right: 30px;
    }
    &.main-arrow-left {
        left: 30px;
    }
}



