@import "../global_vars";

.opening-to-main-button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 86px;
    width: 200px;

    background-color: $primary_color;
    color: $secondary_color;
    font-size: 28px;
    transition: 0.5s;
    &:hover  {
        cursor: pointer;
        background-color: $secondary_color;
        color: $primary_color;
    }
}