$length: 20;
$time: 5s * $length;

.danmakus-container {
    position: relative;
    // overflow-x: hidden;
    width: 99vw;
    height: 15rem;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;

    .danmakus-row {
        position:absolute;
        display: flex;
        flex-direction: row;
        height: 4rem;

        top: 4rem;
        

        // transform: translateX(100vw);
        animation: danmaku linear $time infinite;

        .danmaku-item {
            margin-left: .5rem;
            margin-right: .5rem;
            padding: .8rem 1.2rem;
            
            color: $white;
            background-color: $black;

            border: 2px solid #7bffed;
            border-radius:50px;

            white-space: nowrap;

            a {
                color: $black;
                text-decoration: none;
            }

            .name {
                font-size: 120%;
                font-weight: bold;
            }

            .comment {
                font-weight: normal;
            }
        }
    }

    .danmakus-row:nth-child(2) {
        top: 9rem;
        margin-left: 6rem;
        // animation-delay: 2s;
    }
}

@keyframes danmaku {
    from {
        left: 100vw;
        // transform: translate3d(0,0,0);
    }
    to {
        left: -500px * $length;
        // transform:translate3d(-100%,0,0);
    }
}

// @keyframes scrollTo {
//     to{
//         transform: translateX($length * -200px);
//     }
// }