@import "../global_vars";

.full-timeline-container{
    padding: 2rem;
    
    background-color: $bg_black;
    border: 2px solid #ff679a;
    border-radius: 20px;
    z-index: 5;

    .events-container {
        // margin-top: 1rem;
        padding-right: 5px;
        height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .heading {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }


    .timeline-event{
        position: relative;
        z-index: 20;
        
        margin-bottom: 1rem;
        padding-top: .8rem;
        padding-bottom: .8rem;

        // background-color: $dark;
        border: 2px solid #33f0a7;
        border-radius: 5px;

        transition-duration: .4s;

        .deco-bar {
            position: absolute;
            width: 4px;
            height: 1rem;
            z-index: 10;
            background-color: #33f0a7;
            left: 6rem
        }

        .deco-bar-top {
            top: -1rem;
        }

        .deco-bar-bottom {
            bottom: -1rem;
            border-radius: 0px 0px 5px 5px ;
        }

        .img-container{
            // height: 12rem;
            max-width: 20rem;
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
            }

            @media (max-width: 450px){
                height: 10rem;
                max-width: 18rem;
            }
        }

        .info-container {
            font-family: $font;
            padding: 15px;
            color: $white;
            .name, a {
                color: $white;
                // text-decoration: none;
                font-weight: 600;
            }

            .date {
                font-style: italic;
                font-size: 1rem;
            }

            .description {
                font-size: 1rem;
                margin-top: .8rem;
            }
        }

        
    }

    .timeline-event:hover{
        box-shadow: 3px 3px 3px #33333333;
    }

    /* custom scrollbar */
    ::-webkit-scrollbar {
        width: 20px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
        transition-duration: .5s;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: #dddddd;
    }


    @media (max-width: 768px) {
        ::-webkit-scrollbar {
            display: none;
        }

        .events-container {
            padding: 0;
        }
    }
}